html{
    height: 100%;
}

#artikel1 p{
    margin-left: 4em;   
}

.listenelemente{
    margin-left: 3em;   
}

#videoansage{
    margin-top: 3em;   
}

.rahmen{
    display: inline-block;
}

.videobeschreibung{
    margin-left: 3em;
    margin-top: 1em;
}

.artikel p{
 margin-left: 4em;   
}

.kreis{
    display: inline-block; 
    height: 22em;  
    margin-top: -1em;
    margin-bottom: 2em;
}

.kreislinks{
    text-decoration: none;
    color: black;
}

#hilfe{
    color: #d7d7d7;
}

footer{
    width: 100%;
    font-size: 0.7em;   
    bottom: inherit;
    background-color: #6c524d;
    margin-left: -0.7em;
    margin-bottom: -0.5em;
    height: 10em;
    margin-top: 13.8em;
    position: absolute;
    color: #f0effa;
}

#foot{
    margin-top: 7em;
}

body{
    font-family: Verdana;
    background-color:#d7d7d7;
    font-size: 16px;
}

p{
    line-height: 1.5;
    margin-left: 3em;
}

.farben{
    width: 11em;
    height: 11em;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 11em;
    display: inline-block;
    margin-top: 3em;
    margin-left: 5.6em;
}

.video{
    width: 30em;
    height: 20em;
    margin-left: 3em;
    display: inline-block;
    margin-top: 1em;
}

.farben2{
    vertical-align: middle;
    margin-left: 9.5em
}

.profillink{
    text-decoration: none;
    color: black;
}

#farbenmaik{
    background-color: gold;
    border: 13px solid #ccac00;
}

#farbenmaik:hover{
 background-color: #cd7f32;   
}

#farbenthomas{
    background-color: gold;
    border: 13px solid #ccac00;
}

#farbenthomas:hover{
     background-color: #cd7f32;  
}

#farbenjonas{
    background-color: gold;
    border: 13px solid #ccac00;
}

#farbenjonas:hover{
     background-color: #cd7f32;  
}

#farbenklaus{
    background-color: gold;
    border: 13px solid #ccac00;
}

#farbenklaus:hover{
     background-color: #cd7f32;  
}

#farbenmeiers{
    background-color: #c1e0ff;
    border: 13px solid #9ab3cc;
}

#farbenmeiers:hover{
     background-color: #cd7f32;  
}

#farbenmops{
    background-color: gold;
    border: 13px solid #ccac00;
}

#farbenmops:hover{
     background-color: #cd7f32;  
}

.testa{
    margin-top: 2em;
    margin-left: 1em;
    border:2px solid black;
    max-width: 70em;
    padding-bottom: 0.5em;
    border-radius: 2em;
}

#butt{
    margin-top: 2em;
    margin-left: 1em;
}

#tipp{
    margin-left: 2em;
    margin-top: 1em;
}

h3 a{
    text-decoration: none;
    color: #f0effa;
    margin-left: 1em;
}

h3 a:hover{
    color: #048b9a;
}

#button{
    width: 10em;
    height: 3em;
    font-size: 2em;
    background-color:#6c524d;
    color: #f0effa;
    border-radius:2em;
    text-align: center;
    vertical-align: middle;
    line-height: 3em;       
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 3em;
}

#button:hover{
    background-color: #048b9a;
    color: black;
    cursor: pointer;
}

.radio{
    margin-left: 2em;
}

#wtüberschrift{
    height: 3em;
    width: 13em;
    background-color: #6c524d;
    border: 2px solid black;
    color: #f0effa;
}

#müsli{
    position: relative;
    float: right;
    margin-right: -0.5em;
    background-color:#6c524d;
    width: 33.45em;
    min-height: 60em;
    border-radius: 0px 0px 0px 100px;
}

#artikel1{
    margin-top: 1em;
    max-width: 60em;
    display: inline-block;
}

.artikel{
    max-width: 60em;
    display: inline-block;
}

.tüberschrift{
    height: 3em;
    width: 13em;
    background-color: #6c524d;
    border: 2px solid black;
    color: #f0effa
}

.zeile{
    border: 2px solid black;
    height: 2.5em;
    text-align: center;
}

.zeilehaupt{
    border: 2px solid black;
    height: 2.5em;
    padding-left: 1em;
}


.link{
    text-decoration: none;
    color: #f0effa;
}

.navpunkte{
    display: inline;
    padding-left: 6em;
    color: #f0effa;
}

@media all and (max-width: 520px){
    .navpunkte{
        padding-left: 3em;
    }
}

@media all and (max-width: 380px){
    .navpunkte{
        display: block;
        margin-left: 2em;
        margin-top: 0.5em;
    }
}

@media all and (max-width: 180px){
    .navpunkte{
        display: block;
        margin-left: 0em;
        margin-top: 0.5em;
    }
}

@media all and (max-width: 1000px){
    #müsli{
        display: none;
    }
}

#tabelle{
    margin-top: 1em;
    margin-left: 3em;
    border: 2px solid black;
    border-collapse: collapse;    
}

#tabelle2{
    margin-top: 1em;
    margin-left: 3em;
    border: 2px solid black;
    border-collapse: collapse;    
}

#duud{
    font-size: 10em;
    text-align: center;
}

#elo{
    margin-left: -0.5em;
    margin-top: 1em;
    width: 100%;
    width: 99.1vw;
    height: 20em;
    background-color: black;
}

h2{
    margin-left: 1.2em;
}

p{
    margin-left: 1.2em;
}

#nav{
    background-color: #6c524d;
    margin-left: -0.5em;
    height: 4em;
    width: 100%;
    width: 99.1vw;
}

@media all and (max-width: 380px){
    #nav{
        height: 5.5em;
    }
}

#liste{
    list-style-type: none;
    margin-left: 7em;
    margin-top: -0.5em;
    padding-top: 2em;
}

@media all and (max-width: 1024px){
    #liste{
        margin-left:-5em;
    }
}

@media all and (max-width: 380px){
    #liste{
        padding-top: 0.5em;
        margin-left:-5em;
    }
}
